<div class="search-executor-main-container">
  <div class="search-executor-inner-container">

    <p>Found {{foundTesters ? foundTesters.length : 0}} testers!</p>

    <mat-expansion-panel *ngFor="let foundTester of foundTesters" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{foundTester.tester.firstName + ' ' + foundTester.tester.lastName}}
        </mat-panel-title>
        <mat-panel-description>
          Experience: {{foundTester.experience}} bugs
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card><div>Country of origin:</div><div class="flex-spacer"></div> <div>{{foundTester.tester.country.code | uppercase}}</div></mat-card>
      <mat-card><div>Last login:</div><div class="flex-spacer"></div><div>{{foundTester.tester.lastLogin | date}}</div></mat-card>
    </mat-expansion-panel>

    <pre>
  {{selectedCountries | json}}
</pre>
    <pre>
  {{selectedDevices | json}}
</pre>
  </div>
</div>

