<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="countriesFormGroup">
    <form [formGroup]="countriesFormGroup">
      <ng-template matStepLabel>Fill out testers country of origin</ng-template>
      <app-select-countries-form formControlName="countries"></app-select-countries-form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- #docregion label -->
  <mat-step [stepControl]="devicesFormGroup" label="Fill out test devices">
    <!-- #enddocregion label -->
    <form [formGroup]="devicesFormGroup">
      <app-select-devices-form formControlName="devices"></app-select-devices-form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Search for Testers!</ng-template>
    <app-search-executor [selectedCountries]="countriesFormGroup.controls.countries.value" [selectedDevices]="devicesFormGroup.controls.devices.value"></app-search-executor>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<pre>
  {{countriesFormGroup.controls.countries.value | json}}
</pre>
<pre>
  {{devicesFormGroup.controls.devices.value | json}}
</pre>
