<app-header class="mat-elevation-z6"></app-header>
<router-outlet></router-outlet>
<app-main-page></app-main-page>
<app-footer></app-footer>
<!--<div class="main-content">-->
<!--  <header class="docs-header-background">-->

<!--  </header>-->
<!--</div>-->
<!--<mat-drawer-container>-->
<!--  <mat-sidenav-container class="example-container">-->
<!--    &lt;!&ndash;  <mat-sidenav >Sidenav content</mat-sidenav>&ndash;&gt;-->
<!--    <mat-sidenav-content>Main content</mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</mat-drawer-container>-->


